body{
  padding-top: 2%;
}

tr,th{
  padding: 3%;
}

th {
  background-color: #428bca !important;
  border-color: #357ebd;
  color: white !important;
  text-align: center !important;
}

.table{
  -webkit-box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.75);
  box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.75);
}

.table-striped tbody > tr:nth-child(odd) > td, .table-striped tbody > tr:nth-child(odd) > th {
  background-color: #EBEBEB
}

.table td,.table th{
  text-align: center;
}

.form-control{
  width: 60%;
  float: left;
}

label#search{
  float: left;
  padding-right: 2%;
}

.form-group {
  padding-top: 5%;
}

span#title{
  margin-left: 2%
}

.form-group .btn {
  margin-left: 1%;
}

button.btn.btn-primary {
  font-family: Arial;
  font-weight: bold;
  font-size: 14px;
}
